In [127]:
# importig libs

In [128]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import FeatureHasher
from sklearn.preprocessing import StandardScaler

In [129]:
# reading the dataset

In [130]:
df = pd.read_pickle('data/dataset_after_cleaning.pkl')
df.head(5)

     name sex
0  ابتسام   F
1  ابتهاج   F
2  ابتهال   F
3  اجتهاد   F
4  ازدهار   F

In [131]:
# feutre enginerring

In [132]:
## adding the last letter as a feature

In [133]:
df = df.copy(deep=True)
df['last_letter'] = df.name.apply(lambda name: name[-1])
df.head(5)

     name sex last_letter
0  ابتسام   F           م
1  ابتهاج   F           ج
2  ابتهال   F           ل
3  اجتهاد   F           د
4  ازدهار   F           ر

In [134]:
## adding the last two letters as a feature

In [135]:
# df = df.copy(deep=True)
# df['last_two_letters'] = df.name.apply(lambda name: name[-2:])
# df.head(5)

In [136]:
## adding the first letters as a feature

In [137]:
df = df.copy(deep=True)
df['first_letter'] = df.name.apply(lambda name: name[0])
df.head(5)

     name sex last_letter first_letter
0  ابتسام   F           م            ا
1  ابتهاج   F           ج            ا
2  ابتهال   F           ل            ا
3  اجتهاد   F           د            ا
4  ازدهار   F           ر            ا

In [138]:
## adding the first two as a feature

In [139]:
# df = df.copy(deep=True)
# df['first_two_letters'] = df.name.apply(lambda name: name[0:2])
# df.head(5)

In [140]:
# feature encoding

In [141]:
## econding sex

In [142]:
df['sex'] = df['sex'].map({'M': 1, 'F': 0})
df.head(3)

     name  sex last_letter first_letter
0  ابتسام    0           م            ا
1  ابتهاج    0           ج            ا
2  ابتهال    0           ل            ا

In [143]:
# remove nulls

In [144]:
df = pd.get_dummies(df, columns =  ['last_letter','first_letter']) 
df

,name,sex,last_letter_ء,last_letter_أ,last_letter_ؤ,last_letter_ئ,last_letter_ا,last_letter_ب,last_letter_ة,last_letter_ت,...,first_letter_غ,first_letter_ف,first_letter_ق,first_letter_ك,first_letter_ل,first_letter_م,first_letter_ن,first_letter_ه,first_letter_و,first_letter_ي
0,ابتسام,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ابتهاج,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ابتهال,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,اجتهاد,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ازدهار,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8709,باسانت,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8710,الرجال,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8711,يحي,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8712,حسانين,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8713,عصر,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [145]:
df.dropna(inplace=True)

In [146]:
# save dataset

In [147]:
df.to_pickle("data/dataset_after_preporcessing.pkl")