In [87]:
# importig libs

In [88]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import FeatureHasher
from sklearn.preprocessing import StandardScaler

In [89]:
# reading the dataset

In [90]:
df = pd.read_pickle('data/dataset_after_cleaning.pkl')
df.head(5)

     name sex
0  ابتسام   F
1  ابتهاج   F
2  ابتهال   F
3  اجتهاد   F
4  ازدهار   F

In [91]:
# feutre enginerring

In [92]:
## adding the last letter as a feature

In [93]:
# df = df.copy(deep=True)
# df['last_letter'] = df.name.apply(lambda name: name[-1])
# df.head(5)

In [94]:
## adding the last two letters as a feature

In [95]:
# df = df.copy(deep=True)
# df['last_two_letters'] = df.name.apply(lambda name: name[-2:])
# df.head(5)

In [96]:
## adding the first letters as a feature

In [97]:
# df = df.copy(deep=True)
# df['first_letter'] = df.name.apply(lambda name: name[0])
# df.head(5)

In [98]:
## adding the first two as a feature

In [99]:
# df = df.copy(deep=True)
# df['first_two_letters'] = df.name.apply(lambda name: name[0:2])
# df.head(5)

In [100]:
# feature encoding

In [101]:
## econding sex

In [102]:
df['sex'] = df['sex'].map({'M': 1, 'F': 0})
df.head(3)

In [103]:
# remove nulls

In [104]:
# df = pd.get_dummies(df, columns =  ['last_letter','first_letter']) 
# df

In [105]:
df.dropna(inplace=True)

In [106]:
# save dataset

In [107]:
df.head()

     name sex
0  ابتسام   F
1  ابتهاج   F
2  ابتهال   F
3  اجتهاد   F
4  ازدهار   F

In [108]:
df.to_pickle("data/dataset_after_preporcessing.pkl")