# importig libs

In [11]:
import pandas as pd

# reading the dataset

In [12]:
df = pd.read_pickle('data/dataset_after_cleaning.pkl')
df.head(5)

     name sex
0  ابتسام   F
1  ابتهاج   F
2  ابتهال   F
3  اجتهاد   F
4  ازدهار   F

# feutre enginerring

In [13]:
df = df.copy(deep=True)
df['name_length'] = df.name.apply(lambda name: len(name))
df.head(5)

     name sex  name_length
0  ابتسام   F            6
1  ابتهاج   F            6
2  ابتهال   F            6
3  اجتهاد   F            6
4  ازدهار   F            6

## adding the last letter as a feature

In [14]:
df = df.copy(deep=True)
df['last_letter'] = df.name.apply(lambda name: name[-1])
df.head(5)

     name sex  name_length last_letter
0  ابتسام   F            6           م
1  ابتهاج   F            6           ج
2  ابتهال   F            6           ل
3  اجتهاد   F            6           د
4  ازدهار   F            6           ر

## adding the first letter as a feature

In [15]:
df = df.copy(deep=True)
df['first_letter'] = df.name.apply(lambda name: name[0])
df.head(5)

     name sex  name_length last_letter first_letter
0  ابتسام   F            6           م            ا
1  ابتهاج   F            6           ج            ا
2  ابتهال   F            6           ل            ا
3  اجتهاد   F            6           د            ا
4  ازدهار   F            6           ر            ا

## adding the name length as a feature

In [16]:
df = df.copy(deep=True)
df['name_length'] = df.name.apply(lambda name: len(name))
df.head(5)

     name sex  name_length last_letter first_letter
0  ابتسام   F            6           م            ا
1  ابتهاج   F            6           ج            ا
2  ابتهال   F            6           ل            ا
3  اجتهاد   F            6           د            ا
4  ازدهار   F            6           ر            ا

# feature encoding

## econding sex

In [17]:
df['sex'] = df['sex'].map({'M': 1, 'F': 0})
df.head(3)

     name  sex  name_length last_letter first_letter
0  ابتسام    0            6           م            ا
1  ابتهاج    0            6           ج            ا
2  ابتهال    0            6           ل            ا

# remove nulls

In [18]:
df.dropna(inplace=True)

In [19]:
df.shape

(9247, 5)

# save dataset

In [20]:
df.to_pickle("data/dataset_after_preporcessing.pkl")