# importig libs

In [2]:
import pandas as pd

# reading the dataset

In [4]:
df = pd.read_pickle('data/dataset_after_cleaning.pkl')
df.head(5)

     name sex
0  ابتسام   F
1  ابتهاج   F
2  ابتهال   F
3  اجتهاد   F
4  ازدهار   F

# feutre enginerring

In [6]:
df = df.copy(deep=True)
df['name_length'] = df.name.apply(lambda name: len(name))
df.head(5)

     name sex  name_length
0  ابتسام   F            6
1  ابتهاج   F            6
2  ابتهال   F            6
3  اجتهاد   F            6
4  ازدهار   F            6

## adding the last letter as a feature

In [8]:
df = df.copy(deep=True)
df['last_letter'] = df.name.apply(lambda name: name[-1])
df.head(5)

     name sex  name_length last_letter
0  ابتسام   F            6           م
1  ابتهاج   F            6           ج
2  ابتهال   F            6           ل
3  اجتهاد   F            6           د
4  ازدهار   F            6           ر

## adding the last two letters as a feature

In [10]:
# df = df.copy(deep=True)
# df['last_two_letters'] = df.name.apply(lambda name: name[-2:])
# df.head(5)

     name sex  name_length last_letter last_two_letters
0  ابتسام   F            6           م               ام
1  ابتهاج   F            6           ج               اج
2  ابتهال   F            6           ل               ال
3  اجتهاد   F            6           د               اد
4  ازدهار   F            6           ر               ار

## adding the first letter as a feature

In [12]:
df = df.copy(deep=True)
df['first_letter'] = df.name.apply(lambda name: name[0])
df.head(5)

     name sex  name_length last_letter last_two_letters first_letter
0  ابتسام   F            6           م               ام            ا
1  ابتهاج   F            6           ج               اج            ا
2  ابتهال   F            6           ل               ال            ا
3  اجتهاد   F            6           د               اد            ا
4  ازدهار   F            6           ر               ار            ا

## adding the first two letters as a feature

In [14]:
# df = df.copy(deep=True)
# df['first_two_letters'] = df.name.apply(lambda name: name[0:2])
# df.head(5)

,name,sex,name_length,last_letter,last_two_letters,first_letter,first_two_letters
0,ابتسام,F,6,م,ام,ا,اب
1,ابتهاج,F,6,ج,اج,ا,اب
2,ابتهال,F,6,ل,ال,ا,اب
3,اجتهاد,F,6,د,اد,ا,اج
4,ازدهار,F,6,ر,ار,ا,از

# feature encoding

## econding sex

In [17]:
df['sex'] = df['sex'].map({'M': 1, 'F': 0})
df.head(3)

,name,sex,name_length,last_letter,last_two_letters,first_letter,first_two_letters
0,ابتسام,0,6,م,ام,ا,اب
1,ابتهاج,0,6,ج,اج,ا,اب
2,ابتهال,0,6,ل,ال,ا,اب

# remove nulls

In [20]:
df.dropna(inplace=True)

# save dataset

In [23]:
df.to_pickle("data/dataset_after_preporcessing.pkl")